platform='unknown'
unamestr=$(uname)
if [[ "$unamestr" == 'Linux' ]]; then
   platform='linux'
elif [[ "$unamestr" == 'Darwin' ]]; then
   platform='mac'
fi

# Set Python 3 as default
alias python=python3

# Vim by default
alias vi=vim

# Git
alias gs='git status -s'  # short

alias ga='git add -A'
alias gc='git commit -m'
function gac() {
    ga
    gc "$1"
}
function gacp() {
    ga
    gc "$1"
    gp
}

alias gd='git diff'
alias gpl='git pull'
alias gus='git rm -r --cache'  # git unstage
function gud() {  # git undo
    git reset "$1"
    git checkout "$1"
}

alias gcl='git clone'
alias gco='git checkout'

# Navigation
alias rm='rm -rf'
alias desk='cd ~/Desktop'
alias dl='cd ~/Downloads'

alias mkdir='mkdir -p'

if [[ $platform == 'linux' ]]; then
   alias ls='ls -a --color=auto'
elif [[ $platform == 'mac' ]]; then
    alias ls='ls -AFG'
    # -A for displaying starting with '.' but without '.' and '..', -F for showing '/' after dir, -G for color
    alias l='ls'
    # o for extra info (like -l), -h for human readable sizes
    alias ll='ls -oh'
fi

# Searching
alias grep='grep --line-number --recursive --color=auto'

# Force empty trash on mac
alias et='rm -rf ~/.Trash'

