[core]
    editor = /usr/bin/vim
[user]
    name = Stefan Niculae
    email = stefan1niculae@gmail.com
[push]
    default = simple
[alias]
    d = difftool --tool=meld --dir-diff
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
