# Vim
*.swp  # temporary files
NeoBundle.lock  # plugins
**/.vim/bundle  # downloaded plugins

# Mac
.DS_Store

# JetBrains IDEs
.idea

# Compiled Python files
*.pyc

# Sass cache
.sass_cache

# NPM debug logs
npm-debug.log

