[core]
    # TODO set this according to current OS
    # editor = /usr/bin/vim
    editor = /Applications/MacVim.app/Contents/MacOS/Vim
[user]
	name = Stefan Niculae
	email = stefan1niculae@gmail.com
[push]
    default = simple
[alias]
    d = difftool --tool=meld --dir-diff
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[mergetool]
	keepBackup = true
